

.movie-item-container {
    display: flex;
    flex-direction: column;
    width: 45%;
    box-shadow: 0px 0px 2px 2px #b8b3b3;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.movie-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-weight: 600;
    width: 90%;
}

.vote-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons {
    font-size: 28px;
}

.vote-text {
    font-size: 24px;
}

.vote-heading {
    font-size: 18px;
}

.poster-img {
    width: 40%;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 1px rgb(80, 76, 76);
    margin: 10px;
}

.movie-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Roboto;
    align-self: flex-start;
}

.movie-title {
    font-size: 24px;
    font-family: serif;
}

.info-para {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;
    margin: 6px;
}

.movie-properties {
    font-size: 18;
    font-weight: 600;
    color: rgb(120, 116, 116);
}

.date-para {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    margin: 6px;
}

.views-para {
    color: rgb(21, 223, 156);
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    margin: 6px;
}

.trailer-btn {
    background-color: rgb(99, 99, 167);
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    align-items: stretch;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px;
}

@media screen and (max-width: 767px) {
    .movie-item-container {
        width: 100%;
    }
    .movie-item {
        width: 100%;
    }

    .icons {
        font-size: 14px;
    }

    .poster-img{
        width: 100px;
    }

    .movie-title {
        font-size: 16px;
    }
    
    .info-para {
        font-size: 12px;
    }
    
    .movie-properties {
        font-size: 14px;
    }
    
    .date-para {
        font-size: 14px;
    }
    
    .views-para {
        font-size: 13px;
    }
    
    .trailer-btn {
        font-size: 14px;
    }
}